[Desktop Entry]
Icon=text-html
Name=http://stroustrup.com/Programming/Solutions/Ch3.html
Type=Link
URL[$e]=http://stroustrup.com/Programming/Solutions/Ch3.html
